* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
	position: relative;
	z-index: 1;
	background-color: rgba(128, 128, 128, 0.7);
	backdrop-filter: blur(10px);
	padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
	height: 300px;
    text-align: center;
}

#question {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Options section */
#options {
    text-align: left;
    margin-bottom: 30px;
}

.option {
	
}

/* Option wrapper */
.option-wrapper {
    margin-bottom: 15px;
}

/* Radio button styles */
input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
}

/* Label styles */
label {
    font-size: 18px;
    cursor: pointer;
}

/* Submit button */
#submit-button {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
	transition: 0.5s;
}

#submit-button:hover {
    background-color: #6c45a0;
}

/* Extra small screen handling */
@media (max-width: 500px) {
    #quiz-container {
        padding: 15px;
    }

    #question {
        font-size: 20px;
    }

    label {
        font-size: 16px;
    }

    #submit-button {
        font-size: 16px;
    }
}